
  <div>
    <div *ngFor="let svg of svgIcon">
      <span [innerHTML]="svg"></span>
    </div>
  </div>

<!--<div *ngIf="svgIcon1">-->
<!--  <span [innerHTML]="svgIcon1"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon2 && svgIcon1">-->
<!--  <span [innerHTML]="svgIcon2"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon3">-->
<!--  <span [innerHTML]="svgIcon3"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon4">-->
<!--  <span [innerHTML]="svgIcon4"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon5">-->
<!--  <span [innerHTML]="svgIcon5"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon6">-->
<!--  <span [innerHTML]="svgIcon6"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon7">-->
<!--  <span [innerHTML]="svgIcon7"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon8">-->
<!--  <span [innerHTML]="svgIcon8"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon9">-->
<!--  <span [innerHTML]="svgIcon9"></span>-->
<!--</div>-->
<!--<div *ngIf="svgIcon10">-->
<!--  <span [innerHTML]="svgIcon10"></span>-->
<!--</div>-->
