<div class="hidden-print p-3 w-full">
  <div class="flex flex-row flex-wrap">
    <div class="flex flex-column height-div gap-1 p-2 pl-0" style="width: 190px">
      <label>Nome Plano</label>
      <p-dropdown [options]="planos" [(ngModel)]="planoEscolhido" optionLabel="name" optionValue="name" name="plano" [showClear]="true" placeholder="Selecione"></p-dropdown>
    </div>
    <div class="flex flex-column height-div gap-1 p-2" style="width: 250px">
      <label>Desconto</label>
      <div class="flex flex-row pt-3" *ngIf="svgPlano.length > 0">
        <div *ngFor="let desc of desconto" class="field-checkbox pr-3">
          <p-radioButton [inputId]="desc.key" name="desc" [value]="desc.key" [(ngModel)]="selecionarDesconto" (click)="changeDesconto()"></p-radioButton>
          <label [for]="desc.key" class="ml-2">{{ desc.name }}</label>
        </div>
      </div>
    </div>
    <div class="p-2 pt-3 flex align-self-center" *ngIf="svgPlano.length == 0">
      <button pButton class="p-button-secondary"  (click)="changePlano()" type="button" label="Carregar Plano"></button>
    </div>
  </div>
  <form #form="ngForm" class="mt-2 sticky top-0" *ngIf="svgPlano.length > 0">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="nome">Nome do Cliente</label>
          <input pInputText id="nome" name="nome" (change)="changeInput($event, 'cliente')" [(ngModel)]="formulario.nome"/>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="plano">Nome do Plano</label>
          <input pInputText id="plano" name="email" (change)="changeInput($event, 'plano')" [(ngModel)]="formulario.plano"/>
        </div>
      </div>
      <div class="col-12 sm:col-6 md:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label>Nº de Usuários</label>
          <p-inputNumber [style]="{'min-width': '100px'}" styleClass="w-full" class="w-full" [(ngModel)]="formulario.usuarios" name="usuario" mode="decimal"
                          [useGrouping]="false" (onBlur)="changeInput($event, 'usuarios')"> </p-inputNumber>
        </div>
      </div>
      <div class="col-12 sm:col-6 md:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label>Valor Onboarding</label>
          <p-inputNumber [style]="{'min-width': '100px'}" styleClass="w-full" [(ngModel)]="formulario.vlOnboarding" name="onboarding" inputId="minmaxfraction" mode="decimal"
                         [minFractionDigits]="2" [maxFractionDigits]="5" (onBlur)="changeInput($event, 'valorOnboarding')"> </p-inputNumber>
        </div>
      </div>
      <div class="col-12 sm:col-6 md:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label>Valor Mensal</label>
          <p-inputNumber styleClass="w-full" class="w-full" [(ngModel)]="formulario.vlMensal" name="mensal" inputId="minmaxfraction" mode="decimal"
                         [minFractionDigits]="2" [maxFractionDigits]="5" (onBlur)="changeInput($event, 'valorMensal')"></p-inputNumber>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <label>Incluso</label>
        <div class="flex flex-row flex-wrap gap-1 mt-2 height-div">
          <div class="pr-2">
            <p-checkbox [(ngModel)]="formulario.checked" (onChange)="changeChecked(formulario.checked, 1)" name="checked" [binary]="true"></p-checkbox>
            <label>Módulo NFSe</label>
          </div>
          <div class="pr-2">
            <p-checkbox [(ngModel)]="formulario.checked2" (onChange)="changeChecked(formulario.checked2, 2)" name="checked2" [binary]="true"></p-checkbox>
            <label>Modulo Seguro</label>
          </div>
          <div class="pr-2">
            <p-checkbox [(ngModel)]="formulario.checked3" (onChange)="changeChecked(formulario.checked3, 3)" name="checked3" [binary]="true"></p-checkbox>
            <label>WhatsApp</label>
          </div>
          <div class="pr-2">
            <p-checkbox [(ngModel)]="formulario.checked4" (onChange)="changeChecked(formulario.checked4, 4)" name="checked4" [binary]="true"></p-checkbox>
            <label>Gestão</label>
          </div>
          <div class="pr-2">
            <p-checkbox [(ngModel)]="formulario.checked5" (onChange)="changeChecked(formulario.checked5, 5)" name="checked5" [binary]="true"></p-checkbox>
            <label>Leads</label>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1" *ngIf="planoEscolhido == 'Premium'">
        <div class="flex flex-column gap-1 height-div">
          <label>Contratos Limitados</label>
          <div class="flex flex-row pt-3">
            <div *ngFor="let desc of desconto" class="field-checkbox pr-3">
              <p-radioButton [inputId]="desc.key" name="desc" [value]="desc.key" [(ngModel)]="formulario.contratos" (click)="changeContrato()"></p-radioButton>
              <label [for]="desc.key" class="ml-2">{{ desc.name }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 py-2 pl-1">
        <button pButton class="p-button-secondary" (click)="openPrint()"  type="button" label="Salvar PDF"></button>
      </div>
    </div>
  </form>
</div>
<div>
  <div *ngFor="let svg of svgPlano">
    <div [innerHtml]="svg"></div>
  </div>
</div>
