<div class="hidden-print p-3 w-full">
  <div class="grid">
    <div class="col-12 md:col-6 p-1">
      <div class="flex flex-column gap-1 height-div">
        <label>Nome Plano</label>
        <p-dropdown [options]="planos" [(ngModel)]="planoEscolhido" optionLabel="name" optionValue="name" name="plano" [showClear]="true" placeholder="Selecione"></p-dropdown>
      </div>
    </div>
    <div class="col-12 md:col-6 p-1">
      <div class="flex flex-column gap-1 height-div">
        <label>Desconto</label>
        <div class="flex flex-row" *ngIf="planoEscolhido">
          <div *ngFor="let desc of desconto" class="field-checkbox pr-3">
            <p-radioButton [inputId]="desc.key" name="desc" [value]="desc.key" [(ngModel)]="selecionarDesconto"></p-radioButton>
            <label [for]="desc.key" class="ml-2">{{ desc.name }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form #form="ngForm">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="nome">Nome Cliente</label>
          <input pInputText id="nome" name="nome" (change)="changeInput($event, 'cliente', ':')" [(ngModel)]="formulario.nome"/>
<!--          <ng-template [ngIf]="verificaErro(form.controls['nome'])">-->
<!--            <small>Nome é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="email">Nome do Plano</label>
          <input pInputText id="email" name="email" (change)="changeInput($event, 'plano', '')" [(ngModel)]="formulario.email"/>
          <!--        pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/"-->
<!--          <ng-template [ngIf]="verificaErro(form.controls['email'])">-->
<!--            <small>E-mail é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="cep">CEP</label>
          <input pInputText id="cep" name="cep" [(ngModel)]="formulario.cep"/>
<!--          (blur)="getApiViaCep(form.controls['cep'].value)"-->
<!--          <ng-template [ngIf]="verificaErro(form.controls['cep'])">-->
<!--            <small>CEP é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="logradouro">Rua</label>
          <input pInputText id="logradouro" name="logradouro" [(ngModel)]="formulario.logradouro"/>
<!--          <ng-template [ngIf]="verificaErro(form.controls['logradouro'])">-->
<!--            <small>Rua é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="numero">Número</label>
          <input pInputText id="numero" name="numero" [(ngModel)]="formulario.numero"/>
<!--          <ng-template [ngIf]="verificaErro(form.controls['numero'])">-->
<!--            <small>Número é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="bairro">Bairro</label>
          <input pInputText id="bairro" name="bairro" [(ngModel)]="formulario.bairro"/>
<!--          <ng-template [ngIf]="verificaErro(form.controls['bairro'])">-->
<!--            <small>Bairro é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="complemento">Complemento</label>
          <input pInputText id="complemento" name="complemento" [(ngModel)]="formulario.complemento" />
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="localidade">Cidade</label>
          <input pInputText id="localidade" name="localidade" [(ngModel)]="formulario.localidade"/>
<!--          <ng-template [ngIf]="verificaErro(form.controls['localidade'])">-->
<!--            <small>Cidade é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-6 p-1">
        <div class="flex flex-column gap-1 height-div">
          <label For="uf">UF</label>
          <input pInputText id="uf" name="uf" [(ngModel)]="formulario.uf"/>
<!--          <ng-template [ngIf]="verificaErro(form.controls['uf'])">-->
<!--            <small>UF é obrigatório!</small>-->
<!--          </ng-template>-->
        </div>
      </div>
      <div class="col-12 py-2 pl-2">
        <button pButton class="p-button-secondary"  (click)="openPrint()"  type="submit" label="Salvar"></button>
<!--        [disabled]="form.invalid"-->
      </div>
    </div>
  </form>
</div>
<div *ngIf="svgIcon.length != 0">
  <app-svg [svgIcon]="svgIcon"></app-svg>
</div>
