.height-div {
  height: 100px;
  small{
    color: red;
    border-radius: 6px;
    padding: 0.25rem;
    margin: 0 0.25rem;
    background-color: #ffd0ce;
  }
}

.svgFont {
  font-family: Brinnan, serif;
}

::ng-deep {
  .p-inputtext.p-component.p-element.p-inputnumber-input.p-filled {
    min-width: 100px
  }
}
